<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Hotel</title>
    <link type="text/css" href="../css/bootstrap.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h2>Добавить отель</h2>
    <form action="" th:action="@{/hotels/}" method="post" name="hotel">
        <div class="form-group">
            <label for="country">Страна</label>
            <input type="text" name="country" id="country" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="city">Город</label>
            <input type="text" name="city" id="city" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="number" name="id" id="id" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="name">Название</label>
            <input type="text" name="name" id="name" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="link">Ссылка</label>
            <input type="text" name="link" id="link" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="icon">Ссылка на картинку</label>
            <input type="text" name="icon" id="icon" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="description">Описание</label>
            <textarea rows="10" cols="45" name="description" id="description" class="form-control"></textarea>
        </div>
        <div>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../js/bootstrap.js"></script>
</div>
</body>
</html>