<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hotel</title>
</head>
<body>
<div>
    <h2>Добавить отзыв</h2>
    <form action="" th:action="@{/hotel}" method="post">
        <div>
            <label for="country">Страна</label>
            <input type="text" name="country" id="country"/>
        </div>
        <div>
            <label for="city">Город</label>
            <input type="text" name="city" id="city"/>
        </div>
        <div>
            <label for="id">ID</label>
            <input type="text" name="id" id="id"/>
        </div>
        <div>
            <label for="name">Название</label>
            <input type="text" name="name" id="name"/>
        </div>
        <div>
            <label for="url">Ссылка</label>
            <input type="number" name="url" id="url"/>
        </div>
        <div>
            <label for="pic">Ссылка на картинку</label>
            <input type="text" name="pic" id="pic"/>
        </div>
        <div>
            <label for="description">Описание</label>
            <textarea rows="10" cols="45" name="description" id="description"></textarea>
        </div>
        <div>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </form>
</div>
</body>
</html>