<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Отели</title>
    <link type="text/css" href="../css/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="../css/style.css" rel="stylesheet"/>
</head>
<body>
    <div class="hotel-container">
        <table class="table table-striped">
            <tr>
                <th>SNO</th>
                <th>NAME</th>
                <th>CITY</th>
                <th>COUNTRY</th>
            </tr>
            <!--/*@thymesVar id="hotels" type="java.util.ArrayList<com.example.demo.domain.Hotel>"*/-->
            <tr th:each="hotel,iterationStatus  : ${hotels}">
                <td th:text="${iterationStatus.count}">1</td>
                <td>
                    <a th:href="@{|/hotel/${hotel.id}|}">
                        <span th:text="${hotel.name}"></span>
                    </a>
                </td>
                <td th:text="${hotel.city}">City</td>
                <td th:text="${hotel.country}">Country</td>
            </tr>
        </table>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../js/bootstrap.js"></script>
</body>
</html>