<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link type="text/css" href="../css/bootstrap.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <h2>Добавить отзыв</h2>
    <form action="" th:action="@{/review}" method="post" name="review">
        <div class="form-group">
            <label for="country">Выберите страну</label>
            <input type="text" name="country" id="country" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="city">Выберите город</label>
            <input class="form-control" type="text" name="city" id="city"/>
        </div>
        <div  class="form-group">
            <label for="hotel-id">Выберите отель</label>
            <input type="number" name="hotelId" id="hotel-id" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="service">Оцените сервис</label>
            <select type="number" name="service" id="service" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
        <div class="form-group">
            <label for="comfort">Оцените комфорт</label>
            <select type="number" name="comfort" id="comfort" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
        <div class="form-group">
            <label for="price">Оцените цены</label>
            <select type="number" name="price" id="price" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
        <div class="form-group">
            <label for="distance-from-airport">Оцените доступность(расстояние до аэропорта)</label>
            <select type="number" name="distanceFromAirport" id="distance-from-airport" class="form-control">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
        <div class="form-group">
            <label for="message">Дополнительная информация</label>
            <textarea rows="10" cols="45" name="message" id="message" class="form-control"></textarea>
        </div>
        <div>
            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../js/bootstrap.js"></script>
</div>
</body>
</html>